.root {
    display: block;
    padding: 15px;
    margin: * * 20px;
    border: 1px solid #ddd;
    border-radius: 0;
    line-height: 1.4;
&_compact {
     composes: root;
 }
}
.reparate_item_col {
    display: flex;
    flex-direction: column;
}
.under_spinner {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.outer {
    width: 140px;
    height:140px;
    background:inherit;
    position:relative;
    margin-left: 3px;
    margin-right: 3px;
}
.inner {
    position:absolute;
    width: 80px;
    height: 80px;
    background:inherit;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    margin-right: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub_container_header {
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 0;
    text-decoration: underline;
}
.user_container_header {
    font-size: 24px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 0;
    text-decoration: underline;
}
.inline_items_fav {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
}
.returning_subscribers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 10px;
}
.list_column {
    display: flex;
    flex-direction: column;
}
.list_column_highcharts {
    width: 200px;
    height: 200px;
}
.users_container_empty {
    padding: 15px;
    margin-bottom: 25px;

}
.container_header_sub {
    font-size: 24px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
}

.small_text {
    font-size: 12px;
    font-weight: 300;
    margin-top: 5px;
}
.small_text_panel {
    margin: 10px;
    font-size: 12px;
    font-weight: 300;
    color: #fff;
}
